{% extends "base_generic.html" %}

{% block content %}
{% block title %}<title> Home page </title>{% endblock %}
<h1>Библиотека домашняя страница</h1>

  <p>Добро пожаловать в <em>Библиотеку</em>, очень простой веб-сайт Django, разработанный в качестве учебного примера в сети разработчиков Mozilla.</p>
<h2>Динамический контент</h2>

  <p>В библиотеке имееется следующее количество записей</p>
  <ul>
    <li><strong>Количество книг</strong> {{ num_books }}</li>
    <li><strong>Количество их копий</strong> {{ num_instances }}</li>
    <li><strong>Количество доступных копий</strong> {{ num_instances_available }}</li>
    <li><strong>Количество авторов</strong> {{ num_authors }}</li>
  </ul>
  <form method="get">
    <label>Введите слово для поиска</label>
    <input type="text" id="search_word" name="search_word" value="{{ search_word }}">
    <button type="submit" class="find">Поиск</button>
  </form>
<p class="searchBook">Количество книг, в названии которых есть "<span>{{ search_word }}</span>" = {{ book_count }}</p>

<p>
  Вы посетили эту страницу {{ num_visits }}{% if num_visits == 1 %} раз{% else %} раз{% endif %}.
</p>


{% endblock %}
